/* 
Makes winbox draggable to the edges of the window and fixes potential cutoff
https://github.com/nextapps-de/winbox/issues/99#issue-1082188919
*/

html, body {
    height: 100%;
    /*font-family: FreeMono, monospace;*/
    font-family: Verdana, sans-serif;
}

#mainbody {
    
    background: lightgray;
    border-radius: 2px;
}

#headercontainer {
    height: 2em;
}

.headertab {
    font-size: 1.1em;
    top: 0px;
    height: 2em;
    width: 25%;
    float: left;
    background: linear-gradient(to left,#e66465, #9198e5);
    display: flex;
    justify-content: center;
}

#request {
    width: 80%;
    background: white;
    background: radial-gradient(circle, rgba(163,132,146,0.55) 0%, rgba(143,165,190,0.5) 100%);
    margin: auto;
    border-radius: 15px;
}

.content {
  padding-top:2%;
}

.teacher {
    padding-left: 5%; 
    float: left;
    font-size: 2vw;
    font-weight: bold;
}

.roomNum {
    padding-left: 1%;
    padding-top: 5%;
}

.description {
  width: 60%;
  height: 40%; 
  padding-left: 8%; 
  float: left;
  padding-top: 2%;
  overflow-wrap: break-word;
  overflow: hidden;
}

.dueDate {
  padding-right: 5%;
  float: right;
}

.signup {
  float:right;
  padding-right: 2%;
  padding-top: 6%;
  
}