<header id="headercontainer">
        <div class="headertab" onclick="location.href='/mainpage';" style="cursor: pointer;">
            Overview
        </div>
        
        <div class="headertab" onclick="location.href='/mainpage';" style="cursor: pointer;">
            Sign up
        </div>
        
        <div class="headertab" onclick="location.href='/mainpage';" style="cursor: pointer;">
            Signed up for
        </div>
            
        <div class="headertab" onclick="location.href='/settingspage';" style="cursor: pointer;">
            Settings/Test
        </div>
    
</header>