{%extends "base.html" %}

{%block title%}Overview{% endblock %}

{%block content%}
  
<div id="mainbody">
    <h1>Hello, {{username}}</h1>
    <p> <a href="/createPost"> Create New Post </a></p>
</div>
{% for request in posts %}
    <br>
    <div class="request">
        <span class="lalign">{{request[1]}}</span>
        <span  class="ralign">{{request[2]}}</span>
        <br>
        <span class="lalign">{{request[4]}}</span>
        <span class="ralign">{{request[5]}}</span>
        <br><div> Info <button>Signup</button></div>
    </div>
{% endfor %}

{% endblock %}

{%block script%}

{% endblock %}