
    <h2>Signup for {{tName}}</h2>
{% for signuprequest in addfunctionhere() %}
    <div style="width:80%;height:20vh;background:lightgray;margin:auto;border-radius:15px;">
        <span style="padding-left:5%; float:left;">Teacher Name</span>
        <span style="padding-right:5%; float:right;">Location</span>
        <br>
        <span style="padding-left:5%; float:left;">Description</span>
        <span style="padding-right:5%; float:right;">Time(s)</span>
        <br><div> Info <button>Signup</button></div>
    </div>
{% endfor %}

